.page_wrap{
    display: table;
    position: relative;
    border: 1px solid #ccc;
    width: 100%;
    max-width: 350px;
    height: 100px;
    margin: 50px auto;
}
.main_page{
    width: 100%;
    position: relative;
    background-color: #fff;
    box-shadow: 0px 2px 4px rgba(0,0,0,.5);
    padding: 60px 0px 30px 0px;
}
.main_page:before,
.main_page:after{
    content: '';
    display: block;
    height: 100%;
    border-left: 1px solid #f00;
    position: absolute;
    left:40px;
    top:0;
}
.main_page:after{
    left:36px;
}
.page_content{
    min-height: calc(24px * 15 + 1px);
    background:repeating-linear-gradient(#00f 0px, #fff 1px, #fff 24px );
    font-size: 16px;
    line-height: 24px;
    padding: 6px 20px 0px 50px;
    outline: none;
    color:#00f;
}