.scroll-watcher {
    background-color: #30ff00;
    height: 4px;
    position: fixed;
    top: 10%;
    left: 0;
    width: 0; /* Por defecto, la barra de desplazamiento está oculta */
    z-index: 1000;
    transition: width 0.3s ease; /* Agregamos una transición para suavizar el cambio de tamaño */
}

#sticky-image {
    position: fixed;
    bottom: 2rem;
    right: 4rem;
    z-index: 999;
    width: 7rem;
    cursor: pointer;
    margin: 0;
    padding: 0;
}

.play-button::before {
    content: "Press to play/pause music";
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.7);
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    z-index: 100;
}

.play-button:hover::before {
    display: block;
}

.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 10%;
    padding: 1rem 10%;
    background: #3b82f6;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 99;
    transition: 0.3s;
}

.header.sticky{
    background: green;
}

.logo{
    font-size: 2.5rem;
    font-weight: 600;
    color: chartreuse;
}

.logo-img{
    margin: 0;
    padding: 0;
    filter: invert(100%);
}

#search-input {
    border: 3px solid rgb(127, 170, 170);
    border-radius: 20px;
    background-image: linear-gradient(120deg,#3c3c3c,#585858);
    color: rgb(127, 170, 170);
    cursor: text;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
    transition: all 1s;
    max-width: 170px;
    padding-left: 5px;
}

#search-input:focus {
    outline-color: rgb(127, 170, 170);
}

.magnifying{
    font-size: 1.5rem;
    background-color: transparent;
    color: white;
    padding-left: 0.5rem;
    cursor: pointer;
}

.navbar .cipher{
    font-size: 1.7rem;
    color: aliceblue;
    font-weight: 500;
    margin-left: 2.5rem;
    transition: 0.5s;
}

.navbar .cipher:hover,
.navbar .cipher.active{
    color: #082f49;
}

.views{
    position: absolute;
    bottom: 0;
    right: 8%;
    width: 4rem;
    height: auto;
}

#menu-icon{
    display: none;
}

.hidden {
    opacity: 0;
    filter: blur(7.5px);
    transition: opacity 1s, filter 1s;
}

.show {
    opacity: 1;
    filter: blur(0);
}

section{
    min-height: 101vh;
}

.home{
    display: flex;
    align-items: center;
    padding: 0 10%;
}

.home img{
    border-radius: 15%;
    position: relative;
    top: 25%;
    left: 10%;
}

.home-imgHover{
    position: absolute;
    margin: 0;
    padding: 0;
    top: 30%;
    right: 0;
    width: 50%;
    height: 100%;
    background: transparent;
    transition: 2s;
    z-index: -1;
}

.home-imgHover:hover{
    background: transparent;
    opacity: 0.6;
}

.home-content{
    max-width: 60rem;
}

.home-content h1{
    font-size: 5.6rem;
    font-weight: 700;
    line-height: 1.3;
}

.home-content p{
    text-align: justify;
    flex-direction: column;
}

.home-content .text-animate{
    position: relative;
    width: 16rem;
}

.home-content .text-animate h2{
    font-size: 3.2rem;
    font-weight: 700;
    color: transparent;
    -webkit-text-stroke: 0.7px #84cc16;
    background-image: linear-gradient(#84cc16, #84cc16);
    background-repeat: no-repeat;
    -webkit-background-clip: text;
    background-position: 0 0;
    animation: homeBgText 6s linear infinite;
    animation-delay: 2s;
}

@keyframes homeBgText{
    0%, 10%, 100%{
        background-position: -16rem 0;
    }
    65%, 85%{
        background-position: 0 0;
    }
}

@keyframes homeCursorText{
    0%, 10%, 100%{
        width: 0;
    }
    65%, 78%, 85%{
        width: 100%;
        opacity: 1;
    }
    75%, 81%{
        opacity: 0;
    }
}

.home-content .text-animate h2::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    border-right: 2px solid #84cc16;
    z-index: -1;
    animation: homeCursorText 6s linear infinite;
    animation-delay: 2s;
}

.home-content p{
    font-size: 1.6rem;
    margin: 2rem 0 4rem;
}

.btn-box{
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 34.5rem;
    height: 5rem;
}

.btn-box .btn{
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 15rem;
    height: 100%;
    background: #7dd3fc;
    border: 0.2rem solid #7dd3fc;
    border-radius: 1rem;
    font-size: 1.8rem;
    font-weight: 600;
    letter-spacing: 0.1rem;
    color: #3b82f6;
    box-shadow: 0 0.125rem 0.125rem 0.125rem;
    z-index: 1;
    overflow: hidden;
    transition: 0.5s;
}

.btn-box .btn:hover{
    background: #7dd3fc;
}

.btn-box .btn:nth-child(2):hover{
    color: rgb(0, 68, 0);
}

.btn-box .btn:nth-child(2){
    background: white;
    color: green;
}

.btn-box .btn:nth-child(2)::before{
    background: #7dfca9;
}

.btn-box .btn::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: white;
    z-index: -1;
    transition: 0.5s;
}

.btn-box .btn:hover::before{
    width: 100%;
}

.about{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
    background: #1e3a8a;;
    padding-bottom: 6rem;
    padding: 10rem 4% 5rem 5%;
}

.about-img img{
    border-radius: 50%;
    position: relative;
}

.heading{
    font-size: 5rem;
    margin-bottom: 3rem;
    text-align: center;
}

.heading span{
    color: white;
}

.about-img{
    position: relative;
    width: 25rem;
    height: 25rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-img .circle-spin{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(0);
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border-top: 0.4rem solid #16a34a;
    border-bottom: 0.4rem solid #16a34a;
    border-left: 0.4rem solid #22d3ee;
    border-right: 0.4rem solid #22d3ee;
    animation: aboutSpinner 8s linear infinite;
}

@keyframes aboutSpinner{
    100%{
        transform: translate(-50%, -50%) rotate(360deg);
    }
}

.about-content{
    text-align: center;
}

.about-content h3{
    font-size: 2.5rem;
    justify-content: center;
    align-items: center;
}

.about-content p{
    font-size: 1.5rem;
    margin: 2rem 0 3rem;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.certificados {
    display: flex;
    align-items: center;
    width: 100%;
}

.certificados img {
    display: block;
    max-width: 80%;
}

.certificado-link {
    text-decoration: none;
    display: inline-block;
    width: auto;
    height: auto;
    padding: 0;
    margin: 0;
}

.education{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: auto;
    padding-bottom: 5rem;
    padding: 10rem 4% 5rem 5%;
}

.education .education-row{
    display: flex;
    flex-wrap: wrap;
    gap: 5rem
}

.education-row .education-column{
    flex: 1 1 40rem;
    margin-left: 1.5rem;
}

.education-column .title{
    font-size: 2.5rem;
    margin: 0 0 1.5rem 2rem;
}

.education-column .education-box{
    border-left: 0.2rem solid #3b82f6;
}

.education-box .education-content{
    position: relative;
    padding-left: 2rem;
}

.education-box .education-content::before{
    content: '';
    position: absolute;
    top: 0;
    left: -1.1rem;
    width: 2rem;
    height: 2rem;
    background: #0d9488;
    border-radius: 50%;
}

.education-content .content{
    position: relative;
    padding: 1rem;
    border: 0.2rem solid #3b82f6;
    border-radius: 0.6rem;
    margin-bottom: 1rem;
    overflow: hidden;
}

.education-content .content::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: #14532d;
    z-index: -1;
    transition: 0.5s;
}

.education-content .content:hover::before{
width: 100%;
}

.education-content .content .year{
    font-size: 1.5rem;
    color: #2da5e5;
    padding-bottom: 0.5rem;
}

.education-content .content .year i{
    padding-right: 0.5rem;
}

.education-content .content h3{
    font-size: 2rem;
}

.education-content .content p{
    font-size:  1.6rem;
    padding-top: 1rem;
    width: 100%;
}

.skills-column span{
    color: #22c55e;
}

.skills .heading span{
    color: whitesmoke;
}

.skills{
    min-height: auto;
    padding-bottom: 7rem;
    background: #1e3a8a;
    padding: 10rem 4% 5rem 5%;
}

.skills .skills-row{
    display: flex;
    flex-wrap: wrap;
    gap: 5rem;
}

.skills-row .skills-column{
    flex: 1 1 40rem;
}

.skills-column .title{
    font-size: 2.5rem;
    margin: 0 0 1.5rem;
}

.skills-box .skills-content{
    position: relative;
    border: 0.2rem solid #22c55e;
    border-radius: 0.6rem;
    padding: 0.5rem 1.5rem;
    z-index: 1;
    overflow: hidden;
}

.skills-box .skills-content::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-color: #082f49;
    z-index: -1;
    transition: 0.5s;
}

.skills-box .skills-content:hover::before{
    width: 100%;
}

.skills-content .progress{
    padding: 1rem 0;
}

.skills-content .progress h3{
    font-size: 1.7rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.skills-content .progress p{
    font-size: 1.7rem;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.skills-content .progress h3 span{
    color: var(--tex-color);
}

.items {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 3rem;
}

.centrado {
    display: inline-block !important;
    text-align: center;
    margin: 0 5px;
}

.skills-column h3 ,.skills-column .icon{
    font-size: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.education-content a{
    text-decoration: none;
    color: var(--tex-color);
}

#journey span, #projects span{
    color: green;
}

.contact{
    min-height: auto;
    padding-bottom: 7rem;
    background: #1e3a8a;
    padding: 10rem 4% 5rem 5%;
}

.contact form{
    max-width: 70rem;
    margin: 0 auto;
    text-align: center;
}

.contact form .input-box{
    position: relative;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.contact form .input-box .input-field{
    position: relative;
    width: 49%;
    margin: 0.8rem 0;
}

.contact form .input-box .input-field input,
.contact form .textarea-field textarea{
    width: 100%;
    height: 100%;
    padding: 1.5rem;
    color: var(--tex-color);
    background: transparent;
    border-radius: 0.6rem;
    border: 0.2rem solid #22c55e;
}

.contact form .input-box .input-field input::placeholder,
.contact form .textarea-field textarea::placeholder{
    color: var(--tex-color);
}

.contact form .textarea-field{
    position: relative;
    margin: 0.8rem 0 2.7rem;
    display: flex;
}

.contact form .textarea-field textarea{
    resize: none;

}

.contact form .btn-box.btns .btn{
    cursor: pointer;
}

.footer{
    display: flex;
    padding: 2rem 9%;
    background: #3b82f6;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
}

.footer-text p{
    font-size: 1.6rem;
    color: aliceblue !important;
}

.footer-iconTop a{
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 0.8rem;
    background: transparent;
    border: 0.2rem solid #22c55e;
    border-radius: 0.6rem;
    z-index: 1;
    overflow: hidden;
}

.footer-iconTop a::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: #1d4ed8;
    z-index: -1;
    transition: 0.5s;
}

.footer-iconTop a:hover::before{
    width: 100%;
}

.footer-iconTop a i{
    font-size: 2.4rem;
    color: var(--tex-color);
    transition: 0.5s;
}

.footer-iconTop a:hover i{
    color: #22c55e;
}

#label_toggle{
    position: fixed;
    font-size: 1.8em;
    cursor: pointer;
    z-index: 100;
}

#label_toggle img{
    position: fixed;
    width: 38px;
    height: 38px;
    top: 2%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.wrapper{
    display: inline-flex;
    position: relative;
    top: 10rem;
    left: 0;
    align-items: center;
}

.wrapper .icon{
    margin: 0 1.25rem;
    text-align: center;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
    z-index: 2;
    transition: 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .icon span{
    display: block;
    height: 3.75rem;
    width: 3.75rem;
    background: transparent;
    border-radius: 50%;
    position: relative;
    z-index: 2;
    box-shadow: 0rem 0.625rem 0.625rem rgba(0,0,0,0.1);
    transition: 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    line-height: 3.75rem;
    font-size: 1.563rem;
}

.wrapper .icon .tooltip{
    position: absolute;
    top: 0;
    z-index: 1;
    background: #fff;
    color: #fff;
    padding: 0.625rem 1.125rem;
    font-size: 1.25rem;
    font-weight: 500;
    border-radius: 1.563rem;
    opacity: 0;
    pointer-events: none;
    box-shadow: 0rem 0.625rem 0.625rem rgba(0,0,0,0.1);
    transition: 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .icon:hover .tooltip{
    top: -3.125rem;
    opacity: 1;
    pointer-events: auto;
}

@keyframes pulse-border {
    0% {
        transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1);
        opacity: 1;
    }
    100% {
        transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1.5);
        opacity: 0;
    }
}

.icon .tooltip:before{
    position: absolute;
    content: "";
    height: 0.938rem;
    width: 0.938rem;
    background: #fff;
    left: 50%;
    bottom: -0.375rem;
    transform: translateX(-50%) rotate(45deg);
    transition: 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .icon span{
    color: #fff;
}

.wrapper .icon:hover span, .wrapper .icon:hover .tooltip{
    text-shadow: 0rem -0.063rem 0rem rgba(0,0,0,0.4);
}

.wrapper .whats span, .wrapper .whats:hover .tooltip, .wrapper .whats:hover .tooltip:before{
    background: #14de36;
    border-radius: 50%;
    -webkit-animation: pulse-border 1500ms ease-out infinite;
    animation: pulse-border 1500ms ease-out infinite;
    top: 1.8rem;
}

.wrapper .git span, .wrapper .git:hover .tooltip, .wrapper .git:hover .tooltip:before{
    background: #333;
}

.wrapper .linked span, .wrapper .linked:hover .tooltip, .wrapper .linked:hover .tooltip:before{
    background: #2a4e9c;
}

@media (max-width: 1200px){
    html{
        font-size: 55%;
    }
    .home img{
        height: 35rem;
        width: 35rem;
        top: 25%;
        right: 0%;
        left: 25%;
    }
}

@media (max-width: 991px){
    .header{
        padding: 2rem 4%;
    }

    .home img{
        height: 35rem;
        width: 35rem;
        top: 25%;
        right: 0%;
        left: 15%;
    }

    .home-content p,
    .home-content br{
        flex-direction: column;
        width: 28rem;
    }
    
    section{
        padding: 10rem 4% 2rem;
    }

    .home{
        padding: 0 4%;
    }

    .footer{
        left: 5rem;
    }
}

@media (max-width: 768px){
    .header{
        background: #3b82f6;
    }

    .home-content h1{
        font-size: 5.5rem;
        display: flex;
        flex-direction: column;
    }

    .home img{
        height: 32rem;
        width: 32rem;
        top: 30%;
        right: 0%;
        left: 5%;
    }

    #menu-icon{
        display: block;
        font-size: 2.5rem;
        position: fixed;
        right: 10%;
    }

    .navbar{
        position: absolute;
        top: 100%;
        left: -100%;
        width: 100%;
        padding: 1rem 4%;
        background: #22c55e;
        box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
        transition: 0.25s ease;
        transition-delay: 0.25s;
        z-index: 1;
    }

    .navbar.active{
        left: 0;
        transition-delay: 0s;
    }

    .navbar .active-nav{
        position: absolute;
        top: 0;
        left: -100%;
        width: 100%;
        height: 100%;
        background: #3b82f6;
        border-top: 0.1rem solid rgba(0, 0, 0, 0.2);
        z-index: -1;
        transition: 0.25s ease;
        transition-delay: 0s;
    }

    .navbar.active .active-nav{
        transition-delay: 0.25s;
        left: 0;
    }

    .navbar a{
        display: block;
        font-size: 2rem;
        margin: 3rem 0;
        transform: translateX(-20rem);
        transition: 0.25s ease;
        transition-delay: 0s;
    }

    .navbar.active a{
        transform: translateX(0);
        transition: 0.25s;
    }

    .home-imgHover{
        pointer-events: none;
        background: transparent;
        opacity: 0.6;
        margin: 0;
        padding: 0;
    }

    .home-imgHover img{
        width: 20rem !important;
        height: 22rem !important;
    }

    .footer{
        left: 5rem;
    }
}

@media (max-width: 520px){
    html{
        font-size: 50%;
    }

    .home-content h1{
        font-size: 5rem;
        display: flex;
        flex-direction: column;
    }

    .home-content .text-animate h3{
        font-size: 2.8rem;
    }

    .home-content p,
    .home-content br{
        flex-direction: column;
        width: 25rem;
    }

    .home img{
        height: 28rem;
        width: 28rem;
    }

    .home-content h1{
        flex-direction: column;
        z-index: -1;
    }

    .tools{
        display: flex;
        flex-direction: column;
        margin-right: 2px;
    }

    .footer{
        left: 5rem;
    }
}

::-webkit-scrollbar{
    width: 0.8rem;
}

::-webkit-scrollbar-thumb{
    background: linear-gradient(transparent, #30ff00);
    border-radius: 0.5rem;
}

@media (max-width: 462px){
    .home-content h1{
        font-size: 3rem;
    }

    .home-content .text-animate h3{
        font-size: 2.5rem;
    }
    
    .home img{
        height: 22rem;
        width: 22rem;
    }

    .home-content p,
    .home-content br{
        flex-direction: column;
        width: 20rem;
    }

    .contact form .input-box .input-field{
        width: 90%;
        margin: 0rem 0;
    }

    .contact form .textarea-field{
        width: 90%;
        margin: 0rem 0;
    }

    .footer{
        left: 0rem;
    }
}

@media (max-width: 375px){
    .header{
        padding: 1rem;
    }

    .home-content h1{
        margin-top: 2rem;
        font-size: 2.5rem;
    }

    .home-content .text-animate h3{
        font-size: 2rem;
    }

    .home .btn-box{
        margin-bottom: -8rem;
    }

    .home img{
        height: 20rem;
        width: 20rem;
    }
    .home-content p,
    .home-content br{
        flex-direction: column;
        width: 15rem;
    }
    .skills-column{
        width: 80%;
    }
}

input[type="text"]:invalid, input[type="email"]:invalid, input[type="number"]:invalid{
    animation: shake 0.3s;
    color: red !important;
}

@keyframes shake {
    0% {
        transform: translateX(0);
    }

    25% {
        transform: translateX(-5px);
    }

    50% {
        transform: translateX(5px);
    }

    75% {
        transform: translateX(-5px);
    }

    100% {
        transform: translateX(0);
    }
}