.modal-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
}

.modal-content {
    background-color: white;
    padding: 20px;
    width: 50%;
    max-width: 30rem;
    max-height: 30rem;
    border-radius: 8px;
    z-index: 100;
}

.btn2-box{
    width: 34.5rem;
    height: 5rem;
}

.btn2-box .help-button{
    width: 10rem;
    height: 4rem;
    background: #7dd3fc;
    border: 0.2rem solid #7dd3fc;
    border-radius: 1rem;
    font-size: 1.8rem;
    font-weight: 600;
    letter-spacing: 0.1rem;
    color: #3b82f6;
    box-shadow: 0 0.125rem 0.125rem 0.125rem;
    z-index: 90;
    overflow: hidden;
    transition: 0.5s;
}

.btn2-box .help-button:hover{
    background: aliceblue;
    color: #7dd3fc;
}

.leaflet-routing-alt{
    background-color: aliceblue;
    border: solid 2px #30ff00;
}