@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
    --headline-color: white;
    --background-color: #11151c;
    --text-color: rgba(255, 255, 255, 0.5);
}

.canvas-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
}

.headline-container{
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    pointer-events: none;
}

#text-behind, #text-front, #text-behind-blur {
    font-family: 'Roboto', sans-serif;
    position: absolute;
    text-align: center;
    font-size: clamp(24px, 20vw, 200px);
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 0.5rem;
    line-height: 0.8;
}

#text-behind {
    color: var(--headline-color);
    z-index: 1;
}

#text-behind-blur {
    color: var(--headline-color);
    filter: blur(7.5px);
    -webkit-filter: blur(7.5px);
    z-index: 0;
}

#text-front {
  /*  Set text-color to transparent to only show the outline  */
    color: transparent;
    text-stroke: 2px var(--headline-color);
    -webkit-text-stroke: 2px var(--headline-color);
    z-index: 3;
}

.text-container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    top: 5%;
    height: 90%;
    width: 100%;
    position: absolute;
    left: 0;
    z-index: 3;
}

.title{
    font-size: 0.5rem;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.3rem;
    font-weight: 500;
}

.socials{
}

p{
    width: 300px;
    font-size: 0.75rem;
}


a {
    color: rgba(255, 255, 255, 0.5);
    text-decoration: none;
    transition: all 0.5s ease-in-out;
}

a:hover{
    filter: drop-shadow(0px 0px 10px rgba(255, 255, 255, 0.9));
}