.Link-Project{
    color: black;
    text-decoration: none;
}

.Project-Links .Link-Project {
    margin-right: 2rem;
}

.Project-Links a{
    font-weight: 300;
}

@media (max-width:430px){
    .Project-Links{
        font-size: 1rem !important;
    }
}

.Link-Project:hover{
    color: #30ff00;
}