*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: Helvetica, sans-serif;
    font-weight: 700;
	user-select: none;
}

:root{
    --tex-color: #93c5fd;
}

html{
	font-size: 70%;
    scroll-behavior: smooth;
}

body{
    transition: all 1.5s ease;
    color: var(--tex-color);
    background-color: #030712;
	overflow-x: hidden;
}

section{
	min-height: 100vh;
}

#sticky-clock {
    position: fixed;
    bottom: 10rem;
    right: 4rem;
    z-index: 999;
    cursor: pointer;
}

::-webkit-scrollbar{
    width: 0.8rem;
}

::-webkit-scrollbar-thumb{
    background: linear-gradient(transparent, #30ff00);
    border-radius: 0.5rem;
}

.custom-floating-icon {
    background: url('https://raw.githubusercontent.com/Damanger/Portfolio/main/public/Ardilla.webp') no-repeat;
    width: 40px;
    height: 40px;
    background-size: contain;
}

.rsc-footer input{
    color: black;
}

.sc-bxivhb.ipSaXD.rsc-os-option-element {
    width: auto;
    padding: 8px 16px;
}